*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#main{
    width: 100%;
    height: auto;
}
#name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
#connect{
    display: flex;
    justify-content: center;
    align-items: center;
}
#connect a{
    padding: 5px;
    text-decoration: none;
    color: #000000;
}
#connect a:hover{
    color: blue;
}
.left h2{
    margin-top: 30px;
    margin-left: 20px;
}
.content{
    font-size: large;
    font-weight: 400;
}
.intro{
    margin-left: 20px;  
    line-height: 200%;
}
.vl{
    border-left: 2px solid rgb(0, 0, 0);
  height:18px;

  margin: 10px 10px; 
}
#Qualification{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.date{
    margin-top: -10px;
    margin-left: -10%;
    padding-right: 10%;
    font-weight: 700;
    font-size:120%;
}
 .list li{
    list-style: none;
 }

.container {
    position: relative;
    display: inline-block;
  }
    #text, #text1, #text2, #text3, #text4, #text5{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* Adjust as needed */
  }
  #image, #image1, #image2, #image3, #image4, #image5{
              position: absolute;
    top: -220px;
    margin-left: 20%;
    max-width: 200px; /* Adjust as needed */
    display: none;
    transition: opacity 0.3s ease-in;
  }
  #progress{

    display: flex;
    justify-content: center;
    align-items: center;
  }
  #progress a{
    text-decoration: none;
    color: #000000;
  }
  .footer{
    margin-left: 45%;
    font-size: larger;
  }
  .footer a{
    text-decoration: none;
    color: #000000;
  }